/node_modules
/public/hot
/public/storage
/public/js/*
/public/css/*
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.phpunit.result.cache
modules_statuses.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.DS_Store
/tests/coverage/*
/tests/phpmetrics/*
.env.dusk.local

/public/modules/*
